# Site settings
title: Service assessment prompts
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://yourdomain.com" # the base hostname & protocol for your site
govuk_template_assets: "/assets/govuk"
twitter_username: jekyllrb
github_username:  jekyll
collections:
  service-standard:
    output: true
sass:
  load_paths:
    - _govuk_modules/
# Defaults
defaults:
  -
    scope: 
      path: ""
    values:
      layout: "govuk_template"
  -
    scope:
      type: "service-standard"
    values:
      layout: "service-standard-article"
# Build settings
markdown: kramdown
kramdown:
 auto_id_stripping: true

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - s3_website.yml

gems:
  - jekyll-redirect-from
