<nav class="site-nav">
  <dl>
    <dt>V1:</dt>
    <dd><a class="page-link" href="{{ "/phases/v1/alpha.html" | prepend: site.baseurl }}">Alpha</a></dd>
    <dd><a class="page-link" href="{{ "/phases/v1/beta.html" | prepend: site.baseurl }}">Beta</a></dd>
    <dd><a class="page-link" href="{{ "/phases/v1/live.html" | prepend: site.baseurl }}">Live</a></dd>
  </dl>
  <dl>
    <dt>V2:</dt>
    <dd><a class="page-link" href="{{ "/service-standard/v2/alpha/" | prepend: site.baseurl }}">Alpha</a></dd>
    <dd><a class="page-link" href="{{ "/service-standard/v2/beta/" | prepend: site.baseurl }}">Beta</a></dd>
    <dd><a class="page-link" href="{{ "/service-standard/v2/live/" | prepend: site.baseurl }}">Live</a></dd>
  </dl>

  <ul class="extra_nav">
    <li><a class="page-link" href="{{ "/index.html" | prepend: site.baseurl }}">About</a></li>
    <li><a id='feedback' href="mailto:mel.pierre@digital.justice.gov.uk?cc=sym.roe@digital.justice.gov.uk
         &amp;subject=Feedback%20on%20Service%20Assessments%20Prompts">Feedback</a></li>
  </ul>
</nav>
