<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="{{ "/" | prepend: site.baseurl }}" id="proposition-name">{{ site.title }}</a>
      <ul id="proposition-links">
        <li><a href="{{ "/index.html" | prepend: site.baseurl }}">About</a></li>
        <li><a href="{{ "/service-standard/v2/alpha/" | prepend: site.baseurl }}">18 point standard (Current)</a></li>
        <li><a href="{{ "/service-standard/v1/alpha/" | prepend: site.baseurl }}">26 point standard (V1)</a></li>
      </ul>
    </nav>
  </div>
</div>
