body > nav {
    background-color:#ddd;
    padding:0.5em;
}

body > nav > ul {
    max-width:990px;
    margin:0 auto;
//    list-style-type:none;
}

body > nav > ul li {
    display:inline;
    padding-left:0.5em;
}

body > nav > ul li:first-child {
    padding-left:0;
}

h2 {
    background: url(../images/bullet_blue_expand.png) left center no-repeat;
    padding-left: 30px;
}
h2.is-open {
    background-image: url(../images/bullet_blue_collapse.png);
        padding-left: 30px;
}

ul,
ol {
    margin-left: 25px;
}

ul {
    list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
#feedback {
     float: right;
}



/* Markdown table  */
tr:nth-child(even) {
    background: #ccc;
}​
table, th, td {
    border: solid black 1px;
}
th{
    font-family:Arial,sans-serif;font-size:12px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    background-color: green;
}
td,tr {
    font-family:Arial,sans-serif;font-size:14px;
    padding:10px 5px;
    border-style:solid;border-width:1px;
    overflow:hidden;
    word-break:normal;
}



/* HTML table  */
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    font-family:Arial,sans-serif;font-size:14px;
    padding:10px 5px;
    border-style:solid;border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial,sans-serif;font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    background-color: green;
}


