<!DOCTYPE html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{{ page.title }}| Ministry of Justice</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    {% css_asset_tag global %}
    - /_assets/moj_internal_template/app/assets/stylesheets/moj-internal.scss
    - /_assets/foundation/css/normalize.css
    - /_assets/foundation/css/foundation.min.css
    - _sass/main.scss
    {% endcss_asset_tag %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="version_{{ page.version }}">
    <script type="text/javascript">document.body.className = 'js-enabled ' + document.body.className;</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <div class="outer-block">
        <div class="inner-block">
            <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
        </div>
      </div>
    </div>
    <!--end global-cookie-message-->

    <header role="banner" id="global-header">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <div id="logo">
                <a href="/" title="Go to the homepage">
                  <img src="/{{site.base_url}}images/moj_logo_horizontal_36x246.png">
                </a>
            </div>
          </div>
          <div class="header-app-name">
            {{ site.title }}
          </div>
        </div>
      </div>
    </header>
    <div id="nav">
      {% include nav.html %}
    </div>
    <!--end header-->

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar">

        </div>
      </div>
    </div>
    <!--end global-header-bar-->
  <main id="content">
      {{ content }}
  </main>
    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

  {% javascript_asset_tag global %}
  - /_assets/moj_internal_template/app/assets/javascripts/vendor/jquery/jquery-1.11.0.min.js
  - /_assets/moj_internal_template/app/assets/javascripts/moj.js
  - /_assets/foundation/js/foundation.min.js
  - /_assets/javascript/functions.js
  {% endjavascript_asset_tag %}
  <script type="text/javascript">$(moj.init);</script>

  </body>
</html>
