---
layout: govuk_template
---

{% assign version = 'v'|append:page.version %}
{% assign criteria = site.service-standard | where: "phase", page.phase | where: "layout", "service-standard-article" | sort: "criterion" %}

<h1 class="dbd-header">Digital by Default Service Standard</h1>

{% if page.version == 1 %}
  <p class="status-block">
    The information on this page has been replaced by the <a href="{{ "/service-standard/v2/alpha/" | prepend: site.baseurl }}">18 point Digital Service Standard</a>. The 26 point Standard was in use until 1 June 2015.
  </p>
{% else if page.version == 2 %}
  <p class="lede">The Digital Service Standard was changed from <a href="{{ "/service-standard/v1/alpha/" | prepend: site.baseurl }}">26 points</a> to a more concise 18. From 1 June 2015 all transactional services will be assessed on the new 18 points.</p>
{% endif %}

<p class="lede">The prompts and evidence differ for each assessment phase.</p>

<nav>
  <ul class="service-standard__phase-nav">
    <li>Choose phase:</li>
    <li><a href="{{ "/service-standard/" | prepend: site.baseurl }}{{ version }}/alpha/" class="{% if page.url contains 'alpha' %}phase-tag alpha{% endif %}">Alpha</a></li>
    <li><a href="{{ "/service-standard/" | prepend: site.baseurl }}{{ version }}/beta/" class="{% if page.url contains 'beta' %}phase-tag beta{% endif %}">Beta</a></li>
    <li><a href="{{ "/service-standard/" | prepend: site.baseurl }}{{ version }}/live/" class="{% if page.url contains 'live' %}phase-tag live{% endif %}">Live</a></li>
  </ul>
</nav>

<h2 class="service-standard__heading">The criteria</h2>

<ul class="service-standard">
  {% if page.grouped %}
    {% assign grouped = criteria | group_by: "category" %}

    {% for group in grouped %}
      {% if group.name != "" %}
        <li class="service-standard__category">{{ group.name }}</li>

        {% for item in group.items %}
          {% include criterion.html page=item version=version %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for item in criteria %}
      {% include criterion.html page=item version=version %}
    {% endfor %}
  {% endif %}
</ul>
